.FriendRequestDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}


.FriendRequestDiv>p {
    padding: 1rem;
    border: 1px dotted white;
}

.FriendRequests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 0rem;
    padding: 0;
}