.FriendRequests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    width: 50%;
    list-style: none;
    padding: 0;
}

.FriendRequestDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1rem;
    background-color: lightgreen;
}