.CatalogPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.CatalogPage>p {
    text-align: center;
    width: 80%;
}

.LineHeader {
    margin-top: 2rem;
}

.CatalogPage>h4 {
    position: absolute;
    left: 1rem;
    top: 13rem;
}

.CatalogItemList {
    position: absolute;
    left: 1rem;
    top: 15rem;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 11.5rem;
    height: 17rem;
    justify-items: center;
    gap: .4rem;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 1rem;
}

/* Targeting the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 1rem;
}

.CatalogItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: lightgray;
    border-radius: .5rem;
}



.CatalogItem:hover {
    background-color: white;
}

.CatalogItem.selected {
    background-color: white;
}


.FurniIcon {
    image-rendering: pixelated;
}