.Inventory {
    width: 31.5rem;
    height: 18rem;
    background-color: #f8f8f4;
    position: absolute;
    top: 15rem;
    border-radius: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 2;
    user-select: none;
}

.Inventory>h4 {
    margin: 0;
    text-align: center;
    color: white;
    padding: .6rem;
    background-color: #367897;
    border-bottom: 2px solid gray;
}

.Inventory>h5 {
    margin-top: .5rem;
    margin-left: 1rem;
}

.HideInventory {
    display: none;
}

.InventoryX {
    background-color: crimson;
    border: 1px solid black;
    color: white;
    font-weight: 900;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

.InventoryX:hover {
    background-color: red;
}

.InventoryItemList {
    position: absolute;
    top: 3.2rem;
    left: .5rem;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 19.3rem;
    height: 13.8rem;
    gap: .4rem;
    overflow-x: hidden;
    margin-right: 20px;
    padding-right: 1.5rem;
}

.InventoryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: lightgray;
    border-radius: .5rem;
    position: relative;
}

.SelectedInventoryItem {
    background-color: white;
}


.InventoryItem:hover {
    background-color: white;
}

.InventoryItem.selected {
    background-color: white;
}

.InventoryShowcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: .3rem;
    top: 2.75rem;
    width: 9.5rem;
    height: 13rem;
    background-color: rgb(227, 227, 227);
    border-radius: .4rem;
}

.NoFurni {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: .5rem;
    top: 2.75rem;
    width: 11rem;
    height: 15rem;
    text-align: center;
    background-color: rgb(228, 228, 228);
    border-radius: .4rem;
    user-select: none;
}


.Skeleton {
    user-select: none;
    pointer-events: none;
    transform: scaleX(-1);
}

.InventoryFurni {
    position: relative;
    pointer-events: none;
    image-rendering: pixelated;
}

.InventoryShowcase>h5 {
    position: absolute;
    top: -.9rem;
    font-size: .8rem;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: .3rem;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.InventoryShowcase>p {
    box-sizing: border-box;
    padding-top: .3rem;
    border-top: 1px solid rgb(193, 193, 193);
    position: absolute;
    bottom: -.2rem;
    font-size: .8rem;
    width: 90%;
    text-align: center;
    font-style: italic;
}


.InventoryShowcase>button {
    box-sizing: border-box;
    width: 80%;
    padding: .3rem;
    position: absolute;
    bottom: -2rem;
    cursor: pointer;
    border: 1px solid rgb(85, 85, 85);
    background-color: rgb(54, 169, 0);
    color: white;
    border-radius: .2rem;
}

.InventoryShowcase>button:hover {
    background-color: lawngreen;
}

.ItemCount {
    position: absolute;
    top: 0rem;
    right: 0;
    padding: .1rem;
    color: rgb(106, 106, 106);
    border: 1px solid rgb(218, 218, 218);
    font-size: .8rem;
    background-color: white;
}