.RoomInfo {
    position: absolute;
    bottom: 5.5rem;
    left: 1rem;
    width: 11rem;
    height: 9rem;
    background-color: #f8f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    border-radius: .2rem;
    user-select: none;
    text-align: left;
    z-index: 4;
}

.SetBtn {
    position: absolute;
    box-sizing: border-box;
    padding: .2rem;
    bottom: .2rem;
    width: 70%;
    border: 1px solid rgb(85, 85, 85);
    background-color: rgb(54, 169, 0);
    color: white;
    border-radius: .2rem;
}

.SetBtn:hover {
    background-color: lawngreen;
}

.BoxHeader {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    color: white;
    padding: .5rem;
    background-color: #367897;
    border-bottom: 2px solid gray;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.RoomInfo>h5 {
    width: 90%;
    margin: .2rem;
}

.RoomInfo>p {
    width: 90%;
    margin: .2rem;
    font-size: .75rem;
    font-style: italic;
}

.Set {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
}

.Set:hover {
    filter: saturate(150%) brightness(150%);
}

.Window {
    position: absolute;
    bottom: 0;
    right: 0rem;
}

.Window:hover {
    filter: saturate(150%) brightness(150%);
}

.ML {
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 4.3rem;
}

.ML:hover {
    filter: saturate(150%) brightness(150%);
}

.Moodlight {
    position: absolute;
    bottom: .5rem;
    left: 11.5rem;
    width: 8rem;
    height: 8rem;
    background-color: #f8f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: .2rem;
    user-select: none;
    z-index: 4;
}

.MLcolors {
    margin-top: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0;
}

.MLcolor {
    box-sizing: border-box;
    border: 1px solid rgb(57, 57, 57);
    width: 1rem;
    height: 1rem;
    margin: .2rem;
    border-radius: .1rem;
}

.MLcolor:hover {
    filter: saturate(150%);
}

.MLselect {
    border: 3px solid black;
}

.WallSettings {
    position: absolute;
    top: .5rem;
    left: 11.5rem;
    width: 12rem;
    height: 8rem;
    background-color: #f8f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: .2rem;
    user-select: none;
    z-index: 4;
}

.WallList {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0;
}

.WallChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    margin: .6rem;
    border-radius: .1rem;
}

.WallChoice:hover {
    filter: saturate(150%) brightness(150%);

}

.WallSelect {
    filter: saturate(150%) brightness(150%);
}

.RoomSettings {
    position: absolute;
    bottom: 10rem;
    width: 11rem;
    height: 8rem;
    background-color: #f8f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: .2rem;
    user-select: none;
    z-index: 4;
}

.DeleteRoom {
    padding: .4rem;
    color: white;
    background-color: crimson;
    margin: .5rem;
    border: 0;
    width: 80%;
}

.DeleteRoom:hover {
    background-color: darkred;
}