.AuthPageTitle {
    text-align: center;
    width: 70%;
    color: white;
    font-size: 1.8rem;
}

.HomePageDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid gray;
    width: 75%;
    height: 30rem;
    background-image: url('../../../assets/images/landing/Homepage.png');
    image-rendering: pixelated;
    background-position: center center;
    background-position: center 15%;
    background-repeat: no-repeat;
}

.JoinDiv>p {
    margin: .5rem;
    font-weight: 900;
    color: white;
}

.JoinDiv>p>span {
    font-weight: 500;
    color: gray;
}

.JoinButton {
    width: 15rem;
    height: 8rem;
    color: white;
    font-size: 2rem;
    background: linear-gradient(to bottom, rgb(99, 197, 0) 50%, green 50%);
    border: 3px solid green;
    border-radius: .5rem;
    cursor: pointer;
}

.JoinButton:hover {
    background: linear-gradient(to bottom, rgb(120, 239, 0) 50%, rgb(0, 192, 0) 50%);
}



.AuthList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 75%;
    padding: 0;
    height: 2rem;
}

.AuthList>li {
    color: white;
}

.AuthList>li>a {
    color: white;
    text-decoration: none;
}

.AuthList>li>a:hover {
    color: dodgerblue;
}

.AuthDisclaimer {
    text-align: center;
    width: 60%;
    margin: 0;
    color: gray;
    font-size: .8rem;
}


@media (max-width: 1000px) {

    .AuthPageTitle {
        width: 95%;
        font-size: 1rem;
    }

    .HomePageDiv {
        width: 95%;
        align-items: center;
        justify-content: center;
    }

    .AuthList {
        width: 95%;
    }

    .JoinDiv>p {
        display: none;
    }

    .JoinDiv>p>span {
        display: none;
    }

    .AuthDisclaimer {
        text-align: center;
        width: 95%;
        margin: 0;
        color: gray;
        font-size: .8rem;
    }
}