.FriendSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 50%;
    margin-top: 2rem;
    padding: 2rem;
}

.FoundUser {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    width: 90%;
}