.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
    width: 30rem;
    background-color: dodgerblue;
}

.Messages {
    padding: 0;
    list-style: none;
    width: 95%;
    background-color: black;
}

.Messages>li {
    width: 50%;
    padding: 1rem;
    margin: 1rem;
}

.Messages>li:nth-child(even) {
    background-color: lightgray;
    position: relative;
    left: 10rem;
}

.Messages>li:nth-child(odd) {
    background-color: lightblue;
    /* Change this to your desired color */
}




.MessageInput {
    margin-top: 20rem;
}

.MainPage>input {
    margin: 1rem;
    width: 50%;

}

.MainPage>button {
    margin: 1rem;
    width: 50%;
}