.ClientNav {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #555555;
    width: 100%;
    height: 4rem;
    list-style: none;
    margin: 0;
    z-index: 2;
}

.ClientNavIcon {
    image-rendering: pixelated;
    cursor: pointer;
    margin: 1rem;
}

.ClientNavIcon:hover {
    filter: brightness(120%);
}