.NavBar {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: black;
    margin: 0;

}

.NavBar>li {
    color: white;
}

.NavBar>li>a {
    color: white;
}