.ConsoleFriends {
    position: relative;
    width: 100%;
    height: 90%;
}


.FriendList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    padding: 0;
    margin-top: .2rem;
}

.FriendListTitle {
    text-align: center;
    color: white;
}