.Rotate {
    transform: scaleX(-1);
}

.Furni3 {
    left: .2rem;
    bottom: .3rem;
}

.Furni4 {
    left: .2rem;
    bottom: .3rem;
}

.Furni5 {
    left: .2rem;
    bottom: .3rem;
}

.Furni6 {
    bottom: .3rem;
}

.Furni7 {
    bottom: .3rem;
}

.Furni8 {
    bottom: .3rem;
}

.Furni9 {
    bottom: .2rem;
}

.Furni10 {
    bottom: .2rem;
}

.Furni11 {
    bottom: .2rem;
}

.Furni13 {
    bottom: .4rem;
}

.Furni14 {
    bottom: .4rem;
}

.Furni15 {
    bottom: .4rem;
}

.Furni16 {
    bottom: .2rem;
}

.Furni17 {
    top: .05rem;
}

.Furni19 {
    top: .1rem;
}

.Furni21 {
    bottom: .2rem;
}

.Furni23 {
    right: .1rem;
    bottom: .4rem;
}

.Furni24 {
    bottom: .2rem;
}

.Furni25 {
    left: 1rem;
    top: .2rem;
}

.Furni27 {
    bottom: .1rem;
}

.Furni28 {
    bottom: .1rem;
    right: .25rem;
}

.Furni29 {
    bottom: .1rem;
    left: .2rem;
}

.Furni30 {
    bottom: .3rem;
}

.Furni32 {
    right: .2rem;
    top: .6rem;
}

.Furni47 {
    top: .02rem;
    right: .04rem;
}

.Furni48 {
    top: .1rem;
    right: .04rem;
}

.Furni49 {
    top: .15rem;
    right: .02rem;
}

.Furni51 {
    left: .5rem;
}

.Furni50 {
    top: .10rem;
    right: 0.36rem;
}

.Furni52 {
    bottom: .1rem;
}

.Furni53 {
    bottom: .2rem;
}

.Furni55 {
    bottom: .3rem;
    left: .3rem;
}

.Furni58 {
    bottom: .1rem;
    left: .1rem;
}

.Furni61 {
    left: .1rem;
    top: .1rem;
}

.Furni63 {
    bottom: .2rem;
}

.Furni64 {
    bottom: .2rem;
}

.Furni65 {
    left: .2rem;
    bottom: .2rem;
}

.Furni66 {
    bottom: .5rem;
}

.Furni70 {
    bottom: .1rem;
}

.Furni73 {
    bottom: .2rem;
}

.Furni74 {
    left: .5rem;
}

.Furni75 {
    left: .5rem;
}

.Furni76 {
    bottom: .2rem;
}

.Furni78 {
    bottom: .1rem;
}

.Furni80 {
    bottom: .3rem;
    left: .3rem;
}

.Furni84 {
    bottom: .5rem;
    left: 1rem;
}

.Furni85 {
    right: .1rem;
    top: 1.15rem;
}

.Furni86 {
    bottom: .3rem;
    left: .2rem;
}

.Furni89 {
    bottom: .2rem;
}

.Furni90 {
    bottom: .2rem;
}

.Furni93 {
    bottom: .4rem;
    left: .3rem;
}

.Furni94 {
    left: .5rem;
}

.Furni95 {
    bottom: .4rem;
}

.Furni100 {
    left: .5rem;
}

.Furni101 {
    left: .5rem;
}

.Furni102 {
    bottom: .2rem;
}

.Furni105 {
    bottom: .2rem;
}

.Furni107 {
    bottom: .4rem;
    left: .3rem;
}

.Furni108 {
    right: .7rem;
}

.Furni111 {
    left: 1rem;
    bottom: .2rem;
}

.Furni112 {
    bottom: .5rem;
}

.Furni113 {
    bottom: .2rem;
}

.Furni114 {
    bottom: .4rem;
}

.Furni115 {
    bottom: .4rem;
}

.Furni117 {
    bottom: .2rem;
}

.Furni118 {
    bottom: .2rem;
}

.Furni122 {
    right: .1rem;
    top: .2rem;
}

.Furni123 {
    left: .5rem;
    bottom: .3rem;
}

.Furni124 {
    bottom: .3rem;
}

.Furni125 {
    bottom: .3rem;
}

.Furni126 {
    bottom: .3rem;
}

.Furni127 {
    left: .5rem;
}

.Furni128 {
    left: .5rem;
}

.Furni129 {
    bottom: .3rem;
    left: .3rem;
}

.Furni130 {
    bottom: .3rem;
    left: .3rem;
}