.Furni3 {
    left: .2rem;
    bottom: .3rem;
}

.Furni4 {
    left: .2rem;
    bottom: .3rem;
}

.Furni5 {
    left: .2rem;
    bottom: .3rem;
}

.Furni6 {
    bottom: .3rem;
}

.Furni7 {
    bottom: .3rem;
}

.Furni8 {
    bottom: .3rem;
}

.Furni9 {
    bottom: .2rem;
}

.Furni10 {
    bottom: .2rem;
}

.Furni11 {
    bottom: .2rem;
}

.Furni13 {
    bottom: .4rem;
}

.Furni14 {
    bottom: .4rem;
}

.Furni15 {
    bottom: .4rem;
}

.Furni16 {
    bottom: .2rem;
}

.Furni17 {
    top: .05rem;
}

.Furni19 {
    top: .1rem;
}

.Furni23 {
    right: .1rem;
    bottom: .4rem;
}

.Furni24 {
    bottom: .2rem;
}

.Furni25 {
    left: 1rem;
    top: .2rem;
}

.Furni28 {
    bottom: .1rem;
    right: .25rem;
}

.Furni29 {
    bottom: .1rem;
    left: .2rem;
}

.Furni30 {
    bottom: .3rem;
}

.Furni32 {
    right: .2rem;
    top: .6rem;
}

.Furni47 {
    top: .02rem;
    right: .04rem;
}

.Furni48 {
    top: .1rem;
    right: .04rem;
}

.Furni49 {
    top: .15rem;
    right: .02rem;
}

.Furni50 {
    top: .10rem;
    right: 0.36rem;
}