.RoomBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: White;
    background-color: black;
}

.Room {
    position: relative;
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 29.2rem;
    height: 14.4rem;
    transform: rotate(-26.5deg) skewX(37deg);
    z-index: 1;
    background-color: brown;
    /* background-color: #8c8c5d; */
    transition: 5s ease;
}

.Tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1px solid rgb(0, 0, 0, 0.5);
}

.Tile:hover {
    opacity: 100%;
    border: 4px solid white;
}

.FurniAnchor {
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: skewX(-37deg) rotate(26.5deg);
    user-select: none;
    /* background-color: blue; */
}

.FurniPoint {
    position: relative;
    display: flex;
    right: .5rem;
    /* top: -.6rem; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 2rem;
    height: 2rem;
    /* background-color: lightblue;
    border: 1px solid black;
    border-radius: 5rem; */
}

.FurniImg {
    position: relative;
    pointer-events: none;
}

.FurniPoint:hover {
    filter: brightness(150%) saturate(120%);
}

.ClearRoomBtn {
    top: 3.5rem;
    position: absolute;
    background-color: crimson;
    color: white;
    border: 0;
    padding: .5rem;
    cursor: pointer;
}

.ClearRoomBtn:hover {
    background-color: brown;
}

.FurniSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 1rem;
    bottom: 5rem;
    position: absolute;
    z-index: 3;
}

.FurniSelectionFurni {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 14rem;
    background-color: #555555;
    border-radius: .3rem;
}

.FurniSelectionX {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
    font-size: 1rem;
    position: absolute;
    top: .3rem;
    right: 2rem;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: .2rem;
    z-index: 5;
}

.FurniSelectionX:hover {
    filter: invert();
}

.FurniSelectionFurniName {
    position: absolute;
    top: 0;
    text-align: left;
    width: 90%;
    font-weight: 900;
    font-size: .8rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #333333;
}

.FurniSelectionImg {
    image-rendering: pixelated;
}

.FurniSelectionFurniMotto {
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 90%;
    font-size: .75rem;
    padding-top: .5rem;
    border-top: 1px solid #333333;
    margin-bottom: .6rem;
}


.FurniSelectionOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.FurniSelectionOptions>li {
    user-select: none;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: .2rem;
    padding: .5rem;
    background-color: #555555;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: .8rem;
}

.FurniSelectionOptions>li:hover {
    background-color: gray;
}

.follow-cursor {
    position: absolute;
    pointer-events: none;
    opacity: .5;
    z-index: 1000;
}

.StackTool {
    position: absolute;
    top: 4rem;
    left: 1rem;
    width: 12rem;
    height: 17rem;
    background-color: #f8f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    border-radius: .2rem;
    user-select: none;
}

.StackTool>h4 {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    color: white;
    padding: .5rem;
    background-color: #367897;
    border-bottom: 2px solid gray;
    font-size: .8rem;
}

.StackChoices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 100%;
}

.StackChoice {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3rem;

}

.StackSelection {
    background-color: #e1e1e1;
}

.StackBtn {
    border: 1px solid black;
    width: 5rem;
    border-radius: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.StackBtn:hover {
    background-color: white;
}

.StackMult {
    border-top: 1px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.StackDec {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: crimson;
    border: 0;
    width: 2rem;
    height: 1.5rem;
    border-radius: .2rem;
}

.StackDec:hover {
    background-color: darkred;
}

.StackInc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(80, 160, 0);
    border: 0;
    width: 2rem;
    height: 1.5rem;
    border-radius: .2rem;
}

.StackInc:hover {
    background-color: darkgreen;
}

.GJM {
    pointer-events: none;
}

.RoomInfo {
    position: absolute;
    bottom: 5.5rem;
    left: 1rem;
    width: 10rem;
    height: 11rem;
    background-color: #f8f8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    border-radius: .2rem;
    user-select: none;
}

.RoomInfo>h4 {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    color: white;
    padding: .5rem;
    background-color: #367897;
    border-bottom: 2px solid gray;
    font-size: .8rem;
}

.RoomInfo>h5,
p {
    margin: .5rem;
}

.PetalTile {
    pointer-events: none;
}