/* Row 1 */
.T0 {
    z-index: 12;
}

.T1 {
    z-index: 11;
}

.T2 {
    z-index: 10;
}

.T3 {
    z-index: 9;
}

.T4 {
    z-index: 8;
}

.T5 {
    z-index: 7;
}

.T6 {
    z-index: 6;
}

.T7 {
    z-index: 5;
}

.T8 {
    z-index: 4;
}

.T9 {
    z-index: 3;
}

.T10 {
    z-index: 2;
}

.T11 {
    z-index: 1;
}

.T12 {
    z-index: 0;
}

/* Row 2 */

.T13 {
    z-index: 25;
}

.T14 {
    z-index: 24;
}

.T15 {
    z-index: 23;
}

.T16 {
    z-index: 22;
}

.T17 {
    z-index: 21;
}

.T18 {
    z-index: 20;
}

.T19 {
    z-index: 19;
}

.T20 {
    z-index: 18;
}

.T21 {
    z-index: 17;
}

.T22 {
    z-index: 16;
}

.T23 {
    z-index: 15;
}

.T24 {
    z-index: 14;
}

.T25 {
    z-index: 13;
}

/* Row 3 */

.T26 {
    z-index: 38;
}

.T27 {
    z-index: 37;
}

.T28 {
    z-index: 36;
}

.T29 {
    z-index: 35;
}

.T30 {
    z-index: 34;
}

.T31 {
    z-index: 33;
}

.T32 {
    z-index: 32;
}

.T33 {
    z-index: 31;
}

.T34 {
    z-index: 30;
}

.T35 {
    z-index: 29;
}

.T36 {
    z-index: 28;
}

.T37 {
    z-index: 27;
}

.T38 {
    z-index: 26;
}

/* Row 4 */

.T39 {
    z-index: 51;
}

.T40 {
    z-index: 50;
}

.T41 {
    z-index: 49;
}

.T42 {
    z-index: 48;
}

.T43 {
    z-index: 47;
}

.T44 {
    z-index: 46;
}

.T45 {
    z-index: 45;
}

.T46 {
    z-index: 44;
}

.T47 {
    z-index: 43;
}

.T48 {
    z-index: 42;
}

.T49 {
    z-index: 41;
}

.T50 {
    z-index: 40;
}

.T51 {
    z-index: 39;
}

/* Row 5 */

.T52 {
    z-index: 64;
}

.T53 {
    z-index: 63;
}

.T54 {
    z-index: 62;
}

.T55 {
    z-index: 61;
}

.T56 {
    z-index: 60;
}

.T57 {
    z-index: 59;
}

.T58 {
    z-index: 58;
}

.T59 {
    z-index: 57;
}

.T60 {
    z-index: 56;
}

.T61 {
    z-index: 55;
}

.T62 {
    z-index: 54;
}

.T63 {
    z-index: 53;
}

.T64 {
    z-index: 52;
}

/* Row 6 */

.T65 {
    z-index: 77;
}

.T66 {
    z-index: 76;
}

.T67 {
    z-index: 75;
}

.T68 {
    z-index: 74;
}

.T69 {
    z-index: 73;
}

.T70 {
    z-index: 72;
}

.T71 {
    z-index: 71;
}

.T72 {
    z-index: 70;
}

.T73 {
    z-index: 69;
}

.T74 {
    z-index: 68;
}

.T75 {
    z-index: 67;
}

.T76 {
    z-index: 66;
}

.T77 {
    z-index: 65;
}

/* Row 7 */

.T78 {
    z-index: 90;
}

.T79 {
    z-index: 89;
}

.T80 {
    z-index: 88;
}

.T81 {
    z-index: 87;
}

.T82 {
    z-index: 86;
}

.T83 {
    z-index: 85;
}

.T84 {
    z-index: 84;
}

.T85 {
    z-index: 83;
}

.T86 {
    z-index: 82;
}

.T87 {
    z-index: 81;
}

.T88 {
    z-index: 80;
}

.T89 {
    z-index: 79;
}

.T90 {
    z-index: 78;
}

/* Row 8 */

.T91 {
    z-index: 103;
}

.T92 {
    z-index: 102;
}

.T93 {
    z-index: 101;
}

.T94 {
    z-index: 100;
}

.T95 {
    z-index: 99;
}

.T96 {
    z-index: 98;
}

.T97 {
    z-index: 97;
}

.T98 {
    z-index: 96;
}

.T99 {
    z-index: 95;
}

.T100 {
    z-index: 94;
}

.T101 {
    z-index: 93;
}

.T102 {
    z-index: 92;
}

.T103 {
    z-index: 91;
}