.Wall {
    position: absolute;
    z-index: 0;
    image-rendering: pixelated;
    pointer-events: none;
    user-select: none;
}

.Wall0 {
    margin-left: .5rem;
    margin-bottom: 4.5rem;
    width: 46rem;
}

.Wall1 {
    margin-bottom: 10.8rem;
    width: 47rem;
}

.Wall2 {
    margin-right: .3rem;
    margin-bottom: 9.4rem;
    width: 47rem;
}

.Wall3 {
    margin-left: 1rem;
    margin-bottom: 13rem;
    width: 44rem;
}

.Wall4 {
    margin-left: 1rem;
    margin-bottom: 13rem;
    width: 44rem;
}