.Navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25rem;
    height: 30rem;
    background-color: #f8f8f4;
    position: absolute;
    top: 7rem;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background-color: #57899c;
    border: 1px solid aliceblue;
    z-index: 1;
    user-select: none;
}

.Navigator>h4 {
    color: white;
    margin: .6rem;
}

.RoomNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}

.RoomOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    background-color: #79a4b3;
    border: 1px solid black;
    height: 4rem;
    border-radius: .5rem;
}

.RoomOption.active {
    background-color: #dddddd;
}

.CreateRoom {
    width: 8rem;
    margin-top: 4rem;
}

.RoomList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 90%;

}

.RoomItem {
    text-align: center;
    background-color: white;
    color: black;
    width: 80%;
    margin: .75rem;
    border-radius: .5rem;
}

.RoomItem:hover {
    background-color: orange;
}