.Navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25rem;
    height: 30rem;
    background-color: #f8f8f4;
    position: absolute;
    top: 7rem;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #57899c;
    border: 1px solid black;
    z-index: 1;
    user-select: none;
    overflow-y: hidden;
}

.Navigator>h4 {
    color: white;
    margin: .6rem;
}

.RoomNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}

.RoomOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    background-color: #79a4b3;
    border: 1px solid black;
    height: 4rem;
    border-radius: .5rem;
}

.RoomOption.active {
    background-color: #dddddd;
}

.MyRooms {
    display: flex;
    margin-top: .4rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 22.5rem;
    width: 94%;
    border-radius: .2rem;
    border: 1px solid rgb(33, 33, 33);
    background-color: #cfd7df;
}

.MyRoomsBtnBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: .5rem;
    height: 2rem;
    width: 95%;
    border-bottom: 1px solid rgb(119, 119, 119);
    padding-bottom: .5rem;
}

.MyRoomBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 2rem;
    width: 9rem;
    background-color: #f0f0f0;
    border: 1px solid rgb(57, 57, 57);
    border-radius: .2rem;
}

.MyRoomBtnActive {
    background-color: #62838f;

}

.RoomBtnImg {
    user-select: none;
}

.CreateRoom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 19.5rem;
}

.CreateRoom>h4 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.RoomIcon {
    user-select: none;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgb(184, 184, 184);
}

.RoomNameInput {
    width: 60%;
    margin-bottom: 1rem;
}

.RoomDesText {
    font-size: .8rem;
    resize: none;
    width: 75%;
    height: 4rem;
}

.CreateDiv {
    display: flex;
    display: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid rgb(147, 147, 147);
    box-sizing: border-box;
    margin-top: .7rem;
    width: 90%;
    height: 8rem;
}

.MyRoomDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 19.9rem;
}

.MyRoomDiv>h4 {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(109, 109, 109);
    padding-bottom: .4rem;
    width: 70%;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 0;
}


.RoomList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 16rem;
    overflow-y: scroll;

}

.RoomItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .5rem;
    text-align: left;
    background-color: white;
    color: black;
    width: 90%;
    margin: .4rem;
    border-radius: .3rem;
    height: 1.5rem;
    font-size: .8rem;

}


.RoomItem:hover {
    background-color: rgb(98, 195, 0);
}

/* user search */

.PublicRooms {
    display: flex;
    margin-top: .4rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 22.5rem;
    width: 94%;
    border-radius: .2rem;
    border: 1px solid rgb(33, 33, 33);
    background-color: #cfd7df;
}

.RoomSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5rem;
    width: 90%;
    height: 3rem;
    border-bottom: 1px solid rgb(89, 89, 89);
}

.RoomSearch>input {
    padding: .5rem;
    border: 0;
    border-radius: .5rem;
    width: 12rem;
}